<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</head>
<body ng-app="ticker">

<div ng-controller="ticker-controller" class="container">
  <h2>Stock Ticker</h2>
  <div class="table-responsive">          
  <table class="table table-inverse">
    <thead class="table-inverse">
      <tr>
        <th>Company</th>
        <th>Live Price</th>
        <th>% Change</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key,stock) in stockDetails" >
        <td class="td-company" ng-bind="stock.company"></td>
        <td ng-bind="stock['live-price']"></td>
        <td ng-class="{true: 'stock-up', false: 'stock-down'}[stock['closing-price'] < stock['live-price']]">
        <span ng-if="stock['closing-price'] < stock['live-price']" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
        <span ng-if="stock['closing-price'] > stock['live-price']-1" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        {{((stock['closing-price'] - stock['live-price'])/stock['closing-price'])*100| number:2}}</td>
      </tr>
    </tbody>
  </table>
  
  
  </div>
  {{stockDetails}}
</div>

</body>

<script src="../js/angular.min.js"></script>
<script src="../app.js"></script>
<script src="../components/ticker/ticker.controller.js"></script>
</html>
